*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Merienda", cursive;

}

.container{

	max-wdith: 800px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	
}


.page-header{
	background-color: seagreen;
	padding: 15px 0;
}

.header-flex{
	display:flex;
	justify-content:space-between;
	height:80px;
	align-items:center;
}

.logo img {
	max-width:100%;
	width:80px;
}



nav a{
	color:white;
	text-decoration:none;
	font-size:20px;
}

.hamburger{
	width:30px;
	display:none;

}

.hamburger img{
	max-width:100%;
}


.menu-list{
	display:flex;
	gap:100px;
	list-style:none;


}







h3{
	font-weight: 300;
	font-size: 30px;
	color: black;
	margin-bottom: 20px;
}

h1{
	font-weight: 900;
	font-size: 60px;
	color: black;
	margin-bottom: 20px;
}

.slogan .container{
	max-width:500px;
}
.slogan{
	background-image: url(firstsection.png);
			background-size: cover;
			background-color: rgba(244, 222, 184, 70%);
			background-blend-mode: soft-light;
			background-position: center;
			color: white;
			padding:150px 0;
			text-align: center;
}



.slogan .btn{
	display: inline-block;
	color: white;
	background:seagreen;
	border:3px solid orange;
	text-decoration: none;
	padding: 15px 45px;
	font-size:18px;
}


.product{
	color:white;
	padding:80px 0;
}


.parent-flex{
	display: flex;
	gap: 70px;
	justify-content: space-between;

}

.right{
	width: 50%;
	background-image: url(windowcat.png);
	background-size: cover;
	background-position: center;
	height: 350px ;

}

.left{
	width:50%;
}

.product h3{
	font-weight: 300;
	font-size: 18px;
	color: red;

}

.product h2{
	font-weight: 900;
	font-size: 25px;
	color: black;
	margin-bottom:20px;
}

.product h4{
	font-weight: 800;
	font-size: 20px;
	color: black;
	margin-bottom:20px;
}

.product p{
	font-weight: 200;
	font-size: 16px;
	color: black;
	margin-bottom:50px;
}


.product .btn{
	display: inline-block;
	color: white;
	background:sandybrown;
	text-decoration: none;
	padding: 10px 20px;
	font-size:16px;
}



.feature{
	background-image: url(https://images.theconversation.com/files/400983/original/file-20210517-19-10xgdhs.jpg?ixlib=rb-4.1.0&rect=22%2C550%2C6996%2C3492&q=45&auto=format&w=1356&h=668&fit=crop);
	padding:100px 0;
	background-color: rgba(72, 60, 50, 90%);
	background-blend-mode:overlay;
	background-size: cover;
	background-position: center;
	text-align: left;
}

.feature h3{
	font-weight: 900;
	font-size: 20px;
	color: white;
}

.feature p{
	font-weight: 300;
	font-size: 16px;
	color: white;
}

.card-feature {
	background-position:center;
	padding:5px ;

}


.feature-grid {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	grid-gap:50px 20px;
}


.blog{
	background:white;
	padding:100px 0;
	background-size: cover;
	background-position: center;
	text-align: center;
}


.blog h2{
	font-weight: 900;
	font-size: 40px;
	color: black;
}

.blog h3{
	font-weight: 900;
	font-size: 30px;
	color: black;
}
}

.blog p{
	font-weight: 300;
	font-size: 16px;
	color: black;
	margin-bottom:30px;
}




.blog .btn{
	display: inline-block;
	background:orange;
	color:white;
	text-decoration: none;
	padding: 8px 10px;
	font-size:15px;
	border-radius: 5px;
	margin-bottom:15px;
}

.btn span{
	display: inline-block;
	background:seagreen;
	color:white;
	text-decoration: none;
	padding: 8px 10px;
	font-size:15px;
	margin-left:10px;
}



.blog .bg-image{
	height: 280px;
	background-size: cover;
	background-position: center;
	margin-bottom: 20px;
}


.blog-grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	margin-top:30px;
}

.card-blog {
	background: white;
	text-align:left;
	padding:10px ;

}

.card-blog:nth-of-type(1) .bg-image{
	background-image: url(chill.png);
}

.card-blog:nth-of-type(2) .bg-image{
	background-image: url(crazy.png);
}



.picture{
	background:white;
	background-size: cover;
	background-position: center;
	text-align: center;
}


.picture .bg-image{
	height: 180px;
	background-size: cover;
	background-position: center;
}


.picture-grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.card-picture {
	background: white;
	text-align:left;

}

.card-picture:nth-of-type(1) .bg-image{
	background-image: url(https://www.shutterstock.com/image-photo/cat-smelling-catmint-plant-outside-600nw-2161168927.jpg);
}

.card-picture:nth-of-type(2) .bg-image{
	background-image: url(https://vcahospitals.com/-/media/2/vca/images/lifelearn-images-foldered/17365/cat_grass_1.ashx);
}

.card-picture:nth-of-type(3) .bg-image{
	background-image: url(https://image.petmd.com/files/styles/863x625/public/2024-03/what-is-catnip.jpg);
}

.card-picture:nth-of-type(4) .bg-image{
	background-image: url(https://cf.cjdropshipping.com/138d213c-4ac5-4725-9984-828c01892584.jpg?x-oss-process=image/format,webp,image/resize,m_fill,m_pad,w_800,h_800);
}


.card-picture:nth-of-type(5) .bg-image{
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt8Z8BxZ5OA8lAB-bs-JGF-7HP-VYYD7y5Lw&s);
}

.card-picture:nth-of-type(6) .bg-image{
	background-image: url(https://www.reallycutecats.com/wp-content/uploads/2015/08/trippy-cat.jpg);
}



.footer{
	background:sandybrown;
	padding:20px 0;
	background-size: cover;
	background-position: center;
	text-align: center;

}

.footer p{
	color:black;
}







@media only screen and (max-width:992px){


	.product{
	padding:90px 0;
}

.parent-flex{
	gap: 70px;
	flex-direction:column-reverse;
}

.left{
	width:100%;
}

.right{
	width:100%;
	height:300px;
}
	
}







@media only screen and (max-width:768px){

	.slogan{
		padding:100px 0;
	}



.product{
	padding:80px 0;
}

.parent-flex{
	gap: 60px;
	flex-direction:column-reverse;
}

.left{
	width:100%;
}

.right{
	width:100%;
	height:250px;
}






.feature-grid{
    	grid-template-columns: repeat(2, 1fr);
    	grid-gap:30px 10px;

}


.blog .bg-image{
	height: 170px;

}

.blog h2{
	font-size: 25px;
}

.blog h3{
	font-size: 18px;
}

.blog-grid{
    	grid-template-columns: repeat(1, 1fr);
    	grid-gap:30px 10px;

}

.picture-grid{
    	grid-template-columns: repeat(2, 1fr);

}

.picture .bg-image{
	height: 180px;

}


@media only screen and (max-width:576px){
	

nav{
	display: none;
}

.hamburger{
	display:block;
}


.slogan{
		padding:80px 0;
	}


.slogan h1{
	font-size: 45px;

}

.product{
	padding:70px 0;
}

.product h2{
	font-size:18px;
}

.product h4{
	font-size:16px;

}

.product p{
	font-size:15px;
}

.parent-flex{
	gap: 50px;
	flex-direction:column-reverse;
}

.left{
	width:100%;
}

.right{
	width:100%;
	height:200px;
}


.feature-grid{
    	grid-template-columns: repeat(1, 1fr);
    	grid-gap:30px 5px;

}


.blog .bg-image{
	height: 160px;

}

.blog h2{
	font-size: 19px;
}



.blog-grid{
    	grid-template-columns: repeat(1, 1fr);
    	grid-gap:30px 10px;

}








}




